@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --pink: #f1e2d7;
  --yellow: #e3ae57;
  --orange: #e9724c;
  --black: #161616;
  --white: #ffffff;
}
