@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --pink: #f1e2d7;
  --yellow: #e3ae57;
  --orange: #e9724c;
  --black: #161616;
  --white: #ffffff;
}

body {
  background: gray;
  height: 200vh;
}

* {
  font-family: "Source Sans 3";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* nav starts */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: 1180px;
  margin: 0 auto;
}

nav a {
  color: var(--black);
  text-decoration: none;
}

nav .logo {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: capitalize;
}
nav #toggle {
  border: 0;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--yellow);
  display: none;
  cursor: pointer;
}

nav .menu li {
  list-style: none;
  display: inline-block;
  margin-right: 0.5rem;
}

nav .menu li:last-child {
  margin-right: 0;
}
nav .menu li a {
  padding: 0.5rem;
  display: block;
  text-transform: uppercase;
  font-weight: 200;
  transition: all 0.5s;
}
nav .menu li a:hover {
  color: var(--yellow);
}

nav.bg-white {
  background-color: var(--white) !important;
}
/* nav ends */

/* home starts */
#home {
  background: var(--pink);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#home .home-img,
#home .home-content {
  width: 50%;
}

#home .home-img {
  height: 100vh;
}

#home .home-content {
  padding: 3rem;
}

#home .home-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .home-content p {
  font-weight: lighter;
  line-height: 1.7;
  margin: 1rem 0;
}

#home .home-content p:nth-of-type(1) {
  text-transform: uppercase;
}

#home .home-content h1 {
  font-size: 3rem;
  font-weight: normal;
}

#home .home-content a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid var(--black);
  padding: 0.5rem 1.5rem;
  display: inline-block;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 0.5s;
}
#home .home-content a:hover {
  background: var(--yellow);
  border-color: var(--yellow);
  color: var(--white);
}
/* home ends */

/* media query starts */
@media (max-width: 1200px) {
  nav .container {
    max-width: 890px;
  }
}

@media (max-width: 990px) {
  nav {
    background-color: var(--white);
  }
  nav .container {
    max-width: 750px;
  }
  nav #toggle {
    display: block;
  }
  nav .container {
    position: relative;
  }
  nav .menu {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--white);
    transition: all 0.5s;
  }
  nav .menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  nav .menu li {
    display: block;
  }
}

@media (max-width: 760px) {
  nav .container {
    max-width: 550px;
  }
}

@media (max-width: 580px) {
  nav .container {
    max-width: 100%;
  }
}
/* media query ends */
